.avatar {
    align-items: center;
  }
  
  .about-me {
    height: 100%;
    margin-top: 100vh;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .about-box {
    width: 100%;
    margin-top: 10px;
  }
  
  .about-title {
    text-align: left;
    margin-left: 10vw;
  }
  
  .about-text {
    text-align: left;
  }
  
  .about-contact {
    background: linear-gradient(#e45757, #e18e4b);
    margin: 20px;
  }
  
  .about-resume {
    background: linear-gradient(#e45757, #e18e4b);
    margin: 20px;
  }

  @media only screen and (min-width: 768px) {
    .about-me {
        height: 80vh;
        margin-top: 50vh;
        color: whitesmoke;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

    .about-grid-iten{
        margin-left: 25vw;
    }

    .about-box {
        width: 75%;
        margin-left: 10vw;
        margin-top: 10px;
      }
  }